.background_img {
  background-image: url(https://www.esri.com/arcgis-blog/wp-content/uploads/2020/04/COVID-Card.jpg);
  height: 300px;
  padding-bottom: 180px;
  width: 100%;
}
.title {
  text-align: center;
  font-size: 48px;
  line-height: 52px;
  padding: 100px 5px 10px 5px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
}
.btn-upload {
	color: white;	
    text-decoration: none;
    background-color:  #87a86f;
	padding: 15px 25px;
    font-size: large;
    margin: 9px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
				      0 2px 0 -1px rgba(0,0,0,0.13), 
				      0 3px 0 -1px rgba(0,0,0,0.08), 
				      0 3px 13px -1px rgba(0,0,0,0.21);
                      border-radius: 10px;
}

.btn-upload:active {
    background-color: #87a86f;
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
    
}

.txt_wrap {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  padding: 0 5px 40px 5px;
}
